---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Image, getImage } from 'astro:assets';
import PortraitSilvia from '../images/team/Business_portrait_Silvia.jpg';
import PortraitSamuel from '../images/team/Business_portrait_Samuel.jpg';
import PortraitLudmila from '../images/team/Business_portrait_Ludmila.jpg';
import PortraitSarah from '../images/team/Business_portrait_Sarah.jpg';
import NotebookIMG from '../images/notebook.jpg';
const OptimizedNotebookIMG = await getImage({ src: NotebookIMG });
---

<BaseLayout title='Company' description='Page with informations about EPD Clarity company'>
  <!-- start page title -->
  <section
    class='page-title-big-typography ipad-top-space-margin xs-py-0'
    data-parallax-background-ratio='0.5'
  >
    <div class='opacity-light'></div>
    <div class='container'>
      <div class='row align-items-center justify-content-center small-screen'>
        <div
          class='text-center col-lg-6 col-md-8 position-relative page-title-extra-small'
          data-anime='{ "el": "childs", "rotateX": [90, 0], "opacity": [0,1], "staggervalue": 150, "easing": "easeOutQuad" }'
        >
          <h1 class='mb-5px alt-font text-dark-gray'>
            <span class='opacity-6'>Business profile</span>
          </h1>
          <h2 class='mb-0 text-dark-gray alt-font ls-minus-2px text-shadow-double-large fw-500'>
            About company
          </h2>
        </div>
        <div
          class='text-center down-section'
          data-anime='{ "translateY": [100, 0], "opacity": [0,1], "easing": "easeOutQuad" }'
        >
          <a href='#down-section' class='section-link'>
            <div class='fs-30 sm-fs-32 text-dark-gray'>
              <i class='bi bi-mouse'></i>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- end page title -->
  <!-- start section -->
  <section id='down-section'>
    <div
      id='particles-01'
      data-particle='true'
      data-particle-options='{"particles": {"number": {"value": 6,"density": {"enable": true,"value_area": 1000}},"color":{"value":["#b7b9be", "#dd6531"]},"shape": {"type": "circle","stroke":{"width":0,"color":"#000000"}},"opacity": {"value": 0.5,"random": false,"anim": {"enable": false,"speed": 1,"sync": false}},"size": {"value": 8,"random": true,"anim": {"enable": false,"sync": true}},"move": {"enable": true,"speed":2,"direction": "right","random": false,"straight": false}},"interactivity": {"detect_on": "canvas","events": {"onhover": {"enable": false,"mode": "repulse"},"onclick": {"enable": false,"mode": "push"},"resize": true}},"retina_detect": false}'
      class='top-0 left-0 position-absolute h-100 z-index-minus-1'
    >
    </div>
    <div class='container'>
      <div class='text-start row justify-content-center text-lg-start'>
        <div class='col-xl-5 col-lg-6 md-mb-30px xs-mb-25px'>
          <h2
            class='mb-0 fw-600 text-dark-gray ls-minus-2px'
            data-anime='{ "el": "lines", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'
          >
            Get your EPD completed by industry experts
          </h2>
        </div>
        <div class='col-lg-6 offset-xl-1'>
          <p
            class='mx-auto w-90 sm-w-100 mx-lg-0'
            data-anime='{ "el": "lines", "translateY": [30, 0], "opacity": [0,1], "duration": 300, "delay": 0, "staggervalue": 100, "easing": "easeOutQuad" }'
          >
            For over two decades, Silvia has contributed to the field of Life Cycle Assessment
            (LCA), establishing herself as a renowned expert. Throughout her career, she has created
            Environmental Product Declarations (EPDs) for various product types and provided third
            party verification services for an even larger range of products types for multiple
            programme operators. Silvia is also an active member to various committees dedicated to
            shaping LCA and EPD standards and methodologies.
          </p>
        </div>
      </div>
      <div class='mt-5 row justify-content-center align-items-center md-mt-10'>
        <div
          class='col-xl-4 col-lg-3 col-md-4 sm-mb-35px'
          data-anime='{ "el": "childs", "translateX": [50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 100, "easing": "easeOutQuad" }'
        >
          <!-- start counter item -->
          <div class='row align-items-center mb-50px sm-mb-35px'>
            <div class='col-5 col-xl-5 col-md-12 text-end'>
              <h2
                class='mb-0 alt-font fw-600 text-dark-gray ls-minus-2px counter'
                data-speed='2000'
                data-to='20'
              >
              </h2>
            </div>
            <div
              class='col-7 col-xl-7 col-md-12 last-paragraph-no-margin text-md-end text-xl-start'
            >
              <span class='fs-20 text-dark-gray fw-600 alt-font'>Years of experience</span>
              <p>as a pioneer in LCA field</p>
            </div>
          </div>
          <!-- end counter item -->
          <!-- start counter item -->
          <div class='row align-items-center'>
            <div class='col-5 col-xl-5 col-md-12 text-end'>
              <h2
                class='mb-0 alt-font fw-600 text-dark-gray ls-minus-2px counter'
                data-speed='2000'
                data-to='50'
              >
              </h2>
            </div>
            <div
              class='col-7 col-xl-7 col-md-12 last-paragraph-no-margin text-md-end text-xl-start'
            >
              <span class='fs-20 text-dark-gray fw-600 alt-font'>EPDs created</span>
              <p>across different industries</p>
            </div>
          </div>
          <!-- end counter item -->
        </div>
        <div
          class='text-center col-xl-4 col-lg-6 col-md-4 sm-mb-65px'
          data-anime='{ "el": "childs", "scale": [0, 1], "opacity": [0,1], "duration": 600, "delay": 100, "staggervalue": 100, "easing": "easeOutQuad" }'
        >
          <Image
            src={PortraitSilvia}
            alt='Business portrait of Silvia Vilcekova'
            class='border-radius-6px w-350px'
            loading='eager'
          />
        </div>

        <div
          class='col-xl-4 col-lg-3 col-md-4'
          data-anime='{ "el": "childs", "translateX": [-50, 0], "opacity": [0,1], "duration": 600, "delay": 200, "staggervalue": 100, "easing": "easeOutQuad" }'
        >
          <!-- start counter item -->
          <div class='row align-items-center mb-50px sm-mb-35px'>
            <div class='col-5 col-xl-5 col-md-12 text-end text-xl-end text-md-start'>
              <h2
                class='mb-0 alt-font fw-600 text-dark-gray ls-minus-2px counter'
                data-speed='2000'
                data-to='130'
              >
              </h2>
            </div>
            <div class='col-7 col-xl-7 col-md-12 last-paragraph-no-margin'>
              <span class='fs-20 text-dark-gray fw-600 alt-font'>EPDs verified</span>
              <p>as third party verifier</p>
            </div>
          </div>
          <!-- end counter item -->
          <!-- start counter item -->
          <div class='row align-items-center'>
            <div class='col-5 col-xl-5 col-md-12 text-end text-xl-end text-md-start'>
              <h2
                class='mb-0 alt-font fw-600 text-dark-gray ls-minus-2px counter'
                data-speed='2000'
                data-to='120'
              >
              </h2>
            </div>
            <div class='col-7 col-xl-7 col-md-12 last-paragraph-no-margin'>
              <span class='fs-20 text-dark-gray fw-600 alt-font'>Scientific publications</span>
              <p>on topics of climate change, carbon footprint of products and others</p>
            </div>
          </div>
          <!-- end counter item -->
        </div>
      </div>
      <!-- <div class='mt-5 row justify-content-center align-items-center md-mt-10'>
        <div>
          <p
            class='mx-auto w-90 sm-w-100 mx-lg-0'
            data-anime='{ "el": "lines", "translateY": [30, 0], "opacity": [0,1], "duration": 300, "delay": 0, "staggervalue": 100, "easing": "easeOutQuad" }'
          >
            The process of LCA modelling demands robust methodological expertise and technical
            adaptability. Nonetheless, the outcomes of LCA hold advantages for various departments
            within your organization. Product designers can integrate LCA findings into their
            development process to create innovative and carbon neutral products. Sales teams can
            utilize these results to substantiate the environmental merits of products with
            science-based evidence. Marketing can support environmentally-friendly claims with
            concrete data and statistics.
          </p>
        </div>
      </div> -->
    </div>
  </section>
  <!-- end section -->

  <!-- start section -->
  <!-- TESTIMONIALS -->
  <section class='position-relative'>
    <div
      id='particles-02'
      data-particle='true'
      data-particle-options='{"particles": {"number": {"value": 5,"density": {"enable": true,"value_area": 1000}},"color":{"value":["#b7b9be", "#dd6531"]},"shape": {"type": "circle","stroke":{"width":0,"color":"#000000"}},"opacity": {"value": 0.5,"random": false,"anim": {"enable": false,"speed": 1,"sync": false}},"size": {"value": 8,"random": true,"anim": {"enable": false,"sync": true}},"move": {"enable": true,"speed":2,"direction": "right","random": false,"straight": false}},"interactivity": {"detect_on": "canvas","events": {"onhover": {"enable": false,"mode": "repulse"},"onclick": {"enable": false,"mode": "push"},"resize": true}},"retina_detect": false}'
      class='top-0 left-0 position-absolute h-100 z-index-minus-1'
    >
    </div>
    <div class='container'>
      <div class='mb-2 row justify-content-center'>
        <div
          class='text-center col-lg-7'
          data-anime='{ "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'
        >
          <span
            class='fw-600 ls-1px fs-16 alt-font d-inline-block text-uppercase mb-5px text-base-color'
            >What Our Clients Say</span
          >
          <h2 class='alt-font text-dark-gray fw-600 ls-minus-2px'>Client testimonials</h2>
        </div>
      </div>
      <div
        class='row row-cols-1 row-cols-lg-3 row-cols-md-2 justify-content-center'
        data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'
      >
        <!-- start testimonial item -->
        <div class='col md-mb-30px'>
          <div
            class='testimonials testimonials-style-05 last-paragraph-no-margin d-flex flex-column h-100'
          >
            <div
              class='bg-white border testimonials-bubble border-radius-5px border-color-base-color text-base-color pt-30px pb-30px ps-40px pe-40px lg-p-25px mb-35px h-100'
            >
              <p>
                I was very satisfied with the professional approach, communication and speed of
                processing by EPD Clarity. Based on my own experience with EPDs, I have recommended
                EPD Clarity to other Saint-Gobain divisions.
              </p>
            </div>
            <div class='author ps-20px pe-20px'>
              <div class='align-middle d-inline-block lh-20'>
                <span class='fw-600 fs-18 text-dark-gray d-block mb-5px'>Ing. Vladimir Balent</span>
                <div class='fs-15'>Saint-Gobain Construction Products</div>
              </div>
            </div>
          </div>
        </div>
        <!-- end testimonial item -->
        <!-- start testimonial item -->
        <div class='col'>
          <div
            class='testimonials testimonials-style-05 last-paragraph-no-margin d-flex flex-column h-100'
          >
            <div
              class='bg-white border testimonials-bubble border-radius-5px border-color-base-color text-base-color pt-30px pb-30px ps-40px pe-40px lg-p-25px mb-35px h-100'
            >
              <p>Cooperation with EPD Clarity was very good and smooth in every respect.</p>
            </div>
            <div class='author ps-20px pe-20px'>
              <div class='align-middle d-inline-block lh-20'>
                <span class='fw-600 fs-18 text-dark-gray d-block mb-5px'
                  >Ing. Gabriel Szollosi
                </span>
                <div class='fs-15'>Wienerberger</div>
              </div>
            </div>
          </div>
        </div>
        <!-- end testimonial item -->
        <!-- start testimonial item -->
        <div class='col md-mb-30px'>
          <div
            class='testimonials testimonials-style-05 last-paragraph-no-margin d-flex flex-column h-100'
          >
            <div
              class='bg-white border testimonials-bubble border-radius-5px border-color-base-color text-base-color pt-30px pb-30px ps-40px pe-40px lg-p-25px mb-35px h-100'
            >
              <p>
                I highly appreciate the professional cooperation with Professor Vilcekova. We
                recommend EPD Clarity as a reliable partner in solving EPD challenges.
              </p>
            </div>
            <div class='author ps-20px pe-20px'>
              <div class='align-middle d-inline-block lh-20'>
                <span class='fw-600 fs-18 text-dark-gray d-block mb-5px'>Jan Kovacik</span>
                <div class='fs-15'>GreenCon International</div>
              </div>
            </div>
          </div>
        </div>
        <!-- end testimonial item -->
      </div>
    </div>
  </section>
  <!-- end section -->

  <!-- start section -->
  <!-- MEET OUR PEOPLE -->
  <section class='position-relative'>
    <div
      id='particles-03'
      data-particle='true'
      data-particle-options='{"particles": {"number": {"value": 5,"density": {"enable": true,"value_area": 1000}},"color":{"value":["#b7b9be", "#dd6531"]},"shape": {"type": "circle","stroke":{"width":0,"color":"#000000"}},"opacity": {"value": 0.5,"random": false,"anim": {"enable": false,"speed": 1,"sync": false}},"size": {"value": 8,"random": true,"anim": {"enable": false,"sync": true}},"move": {"enable": true,"speed":2,"direction": "right","random": false,"straight": false}},"interactivity": {"detect_on": "canvas","events": {"onhover": {"enable": false,"mode": "repulse"},"onclick": {"enable": false,"mode": "push"},"resize": true}},"retina_detect": false}'
      class='top-0 left-0 position-absolute h-100 z-index-minus-1'
    >
    </div>
    <div class='container'>
      <div class='mb-3 row justify-content-center'>
        <div
          class='text-center col-lg-7'
          data-anime='{  "opacity": [0,1], "duration": 800, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'
        >
          <span
            class='fw-600 ls-1px fs-16 alt-font mb-5px d-inline-block text-uppercase text-base-color'
            >Meet our people</span
          >
          <h2 class='alt-font text-dark-gray fw-600 ls-minus-2px'>Leading experts</h2>
        </div>
      </div>
      <div
        class='row row-cols-1 row-cols-lg-4 row-cols-sm-2 justify-content-center'
        data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 800, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'
      >
        <!-- start team member item -->
        <div class='text-center col team-style-05 md-mb-40px'>
          <div
            class='overflow-hidden position-relative border-radius-4px mb-30px last-paragraph-no-margin'
          >
            <Image
              src={PortraitSilvia}
              alt='Business portrait of Silvia Vilcekova'
              loading='eager'
            />
            <div
              class='w-100 h-100 d-flex flex-column justify-content-center align-items-center p-40px lg-p-30px team-content bg-gradient-dark-orange-transparent'
            >
              <div class='social-icon fs-20'>
                <a
                  href='https://www.linkedin.com/in/doc-ing-silvia-vil%C4%8Dekov%C3%A1-phd-b28ba142/'
                  target='_blank'
                  class='text-white'
                  aria-label='LinkedIn profile of LCA team leader, doc. ing. Silvia Vilcekova'
                  ><i class='fa-brands fa-linkedin'></i></a
                >
              </div>
            </div>
          </div>
          <div class='alt-font fw-600 text-dark-gray lh-22 fs-18'>Silvia Vilcekova</div>
          <span>Co-founder and LCA team lead</span>
        </div>
        <!-- end team member item -->
        <!-- start team member item -->
        <div class='text-center col team-style-05 md-mb-40px'>
          <div
            class='overflow-hidden position-relative border-radius-4px mb-30px last-paragraph-no-margin'
          >
            <Image src={PortraitSamuel} alt='Business portrait of Samuel Sura' loading='eager' />
            <div
              class='w-100 h-100 d-flex flex-column justify-content-center align-items-center p-40px team-content bg-gradient-dark-orange-transparent'
            >
              <div class='social-icon fs-20'>
                <a
                  href='https://www.linkedin.com/in/samuel-sura-a2507a31/'
                  target='_blank'
                  class='text-white'
                  aria-label='LinkedIn profile of Samuel Sura, CEO'
                  ><i class='fa-brands fa-linkedin'></i></a
                >
              </div>
            </div>
          </div>
          <div class='alt-font fw-600 text-dark-gray lh-22 fs-18'>Samuel Sura</div>
          <span>Co-founder & sales</span>
        </div>
        <!-- end team member item -->
        <!-- start team member item -->
        <div class='text-center col team-style-05 xs-mb-40px'>
          <div
            class='overflow-hidden position-relative border-radius-4px mb-30px last-paragraph-no-margin'
          >
            <Image
              src={PortraitLudmila}
              alt='Business portrait of Ludmila Vaculova Meciarova'
              loading='eager'
            />
            <div
              class='w-100 h-100 d-flex flex-column justify-content-center align-items-center p-40px team-content bg-gradient-dark-orange-transparent'
            >
              <div class='social-icon fs-20'>
                <a
                  href='https://www.linkedin.com/in/ludmila-meciarova-6437a412a'
                  target='_blank'
                  class='text-white'
                  aria-label='LinkedIn profile of LCA engineer, Ludmila Vaculova Meciarova'
                  ><i class='fa-brands fa-linkedin'></i></a
                >
              </div>
            </div>
          </div>
          <div class='alt-font fw-600 text-dark-gray lh-22 fs-18'>Ludmila Vaculova Meciarova</div>
          <span>LCA consultant</span>
        </div>
        <!-- end team member item -->
        <!-- start team member item -->
        <div class='text-center col team-style-05'>
          <div
            class='overflow-hidden position-relative border-radius-4px mb-30px last-paragraph-no-margin'
          >
            <Image src={PortraitSarah} alt='Business portrait of Sarah Curpen' loading='eager' />
            <div
              class='w-100 h-100 d-flex flex-column justify-content-center align-items-center p-40px team-content bg-gradient-dark-orange-transparent'
            >
              <div class='social-icon fs-20'>
                <a
                  href='https://www.linkedin.com/in/sarah-curpen-196179231'
                  target='_blank'
                  class='text-white'
                  aria-label='LinkedIn profile of LCA enigneer, Sarah Curpen'
                  ><i class='fa-brands fa-linkedin'></i></a
                >
              </div>
            </div>
          </div>
          <div class='alt-font fw-600 text-dark-gray lh-22 fs-18'>Sarah Curpen</div>
          <span>LCA consultant & sales</span>
        </div>
        <!-- end team member item -->
      </div>
    </div>
  </section>
  <!-- end section -->

  <!-- start section -->
  <section class='p-0 overflow-hidden bg-dark-gray'>
    <div class='p-0 container-fluid'>
      <div class='row justify-content-center g-0'>
        <div
          class='overflow-hidden col-lg-6 md-h-550px xs-h-400px'
          data-anime='{ "translateY": [0, 0], "opacity": [0,1], "duration": 1000, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'
        >
          <div
            class='h-100 cover-background'
            style=`background-image: url(${OptimizedNotebookIMG.src})`
          >
          </div>
        </div>
        <div
          class='col-lg-6 col-md-10 ps-8 pe-8 pt-7 pb-7'
          data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 600, "delay": 200, "staggervalue": 100, "easing": "easeOutQuad" }'
        >
          <h2 class='text-white alt-font fw-500 ls-minus-2px'>Experience meets innovation</h2>
          <p class='w-80 lg-w-100 mb-30px'>
            Our consultancy service is founded on the principle of partnership, where we view the
            client-consultant relationship as a collaborative journey towards achieving
            sustainability goals. We are committed to realizing our clients' sustainability
            objectives, dedicating our expertise and resources until those targets are met.
          </p>
          <p class='w-80 lg-w-100 mb-30px'>
            Our approach involves guiding clients through every step of the process, offering not
            only consultancy hours but also our unwavering support and dedication. We believe that
            our clients' success is a testament to our own, and we are fully invested in empowering
            them to leverage their sustainability achievements for long-term growth and impact.
          </p>
          <!-- start features box item -->
          <div class='icon-with-text-style-08 mb-15px'>
            <div class='feature-box feature-box-left-icon-middle'>
              <div
                class='border border-2 feature-box-icon feature-box-icon-rounded w-45px h-45px rounded-circle border-color-transparent-white-light box-shadow-large me-15px'
              >
                <i class='text-white fa-solid fa-check icon-very-small'></i>
              </div>
              <div class='feature-box-content'>
                <span class='text-white fs-18 alt-font d-block'>Client oriented approach</span>
              </div>
            </div>
          </div>
          <!-- start features box item -->
          <!-- end features box item -->
          <div class='icon-with-text-style-08 mb-15px'>
            <div class='feature-box feature-box-left-icon-middle'>
              <div
                class='border border-2 feature-box-icon feature-box-icon-rounded w-45px h-45px rounded-circle border-color-transparent-white-light box-shadow-large me-15px'
              >
                <i class='text-white fa-solid fa-check icon-very-small'></i>
              </div>
              <div class='feature-box-content'>
                <span class='text-white fs-18 alt-font d-block'
                  >Dedicated to always improving our services</span
                >
              </div>
            </div>
          </div>
          <!-- start features box item -->
          <!-- end features box item -->
          <div class='icon-with-text-style-08'>
            <div class='feature-box feature-box-left-icon-middle'>
              <div
                class='border border-2 feature-box-icon feature-box-icon-rounded w-45px h-45px rounded-circle border-color-transparent-white-light box-shadow-large me-15px'
              >
                <i class='text-white fa-solid fa-check icon-very-small'></i>
              </div>
              <div class='feature-box-content'>
                <span class='text-white fs-18 alt-font d-block'
                  >Irresistibly drawn towards innovation and challenges</span
                >
              </div>
            </div>
          </div>
          <!-- start features box item -->
        </div>
      </div>
    </div>
  </section>
  <!-- end section -->
  <!-- start section -->
  <section class='bg-very-light-gray'>
    <div class='container'>
      <div class='row align-items-center'>
        <div class='col-lg-6 md-mb-50px'>
          <div class='row'>
            <div
              class='col-sm-6 mt-30px xs-mt-0'
              data-bottom-top='transform: translateY(50px)'
              data-top-bottom='transform: translateY(-50px)'
              data-anime='{ "el": "childs", "translateY": [0, 0], "perspective": [1200,1200], "scale": [1.1, 1], "rotateX": [50, 0], "opacity": [0,0.7], "duration": 800, "delay": 200, "staggervalue": 300, "easing": "easeOutQuad" }'
            >
              <!-- start features box item -->
              <div
                class='overflow-hidden bg-white border-radius-6px box-shadow-double-large icon-with-text-style-05 transition-inner-all mb-30px'
              >
                <div class='feature-box hover-box dark-hover last-paragraph-no-margin'>
                  <div class='content-scale pt-17 pb-17 ps-10 pe-10 sm-p-15'>
                    <div class='feature-box-icon'>
                      <i
                        class='line-icon-Like icon-extra-large text-base-color mb-20px justify-content-center'
                      ></i>
                    </div>
                    <div class='feature-box-content'>
                      <span
                        class='cursor-default d-inline-block alt-font text-dark-gray fs-20 fw-600'
                        >Experienced</span
                      >
                    </div>
                  </div>
                  <div class='feature-box-overlay bg-base-color'></div>
                </div>
              </div>
              <!-- start features box item -->
              <!-- end features box item -->
              <div
                class='overflow-hidden bg-white border-radius-6px box-shadow-double-large icon-with-text-style-05 transition-inner-all xs-mb-30px'
              >
                <div class='feature-box hover-box dark-hover last-paragraph-no-margin'>
                  <div class='content-scale pt-17 pb-17 ps-10 pe-10 sm-p-15'>
                    <div class='feature-box-icon'>
                      <i
                        class='line-icon-Knight icon-extra-large text-base-color mb-20px justify-content-center'
                      ></i>
                    </div>
                    <div class='feature-box-content'>
                      <span
                        class='cursor-default d-inline-block alt-font text-dark-gray fs-20 fw-600'
                        >Dedicated</span
                      >
                    </div>
                  </div>
                  <div class='feature-box-overlay bg-base-color'></div>
                </div>
              </div>
              <!-- end features box item -->
            </div>
            <div
              class='col-sm-6'
              data-bottom-top='transform: translateY(-50px)'
              data-top-bottom='transform: translateY(50px)'
              data-anime='{ "el": "childs", "translateY": [0, 0], "perspective": [1200,1200], "scale": [1.1, 1], "rotateX": [50, 0], "opacity": [0,0.7], "duration": 800, "delay": 200, "staggervalue": 300, "easing": "easeOutQuad" }'
            >
              <!-- start features box item -->
              <div
                class='overflow-hidden bg-white border-radius-6px box-shadow-double-large icon-with-text-style-05 transition-inner-all mb-30px'
              >
                <div class='feature-box hover-box dark-hover last-paragraph-no-margin'>
                  <div class='xs-w-100 content-scale pt-17 pb-17 ps-10 pe-10 sm-p-15'>
                    <div class='feature-box-icon'>
                      <i
                        class='line-icon-MaleFemale icon-extra-large text-base-color mb-20px justify-content-center'
                      ></i>
                    </div>
                    <div class='feature-box-content'>
                      <span
                        class='cursor-default d-inline-block alt-font text-dark-gray fs-20 fw-600'
                        >Supportive</span
                      >
                    </div>
                  </div>
                  <div class='feature-box-overlay bg-base-color'></div>
                </div>
              </div>
              <!-- start features box item -->
              <!-- end features box item -->
              <div
                class='overflow-hidden bg-white border-radius-6px box-shadow-double-large icon-with-text-style-05 transition-inner-all mt-30px'
              >
                <div class='feature-box hover-box dark-hover last-paragraph-no-margin'>
                  <div class='content-scale pt-17 pb-17 ps-10 pe-10 sm-p-15'>
                    <div class='feature-box-icon'>
                      <i
                        class='line-icon-Bar-Chart2 icon-extra-large text-base-color mb-20px justify-content-center'
                      ></i>
                    </div>
                    <div class='feature-box-content'>
                      <span
                        class='cursor-default d-inline-block alt-font text-dark-gray fs-20 fw-600'
                        >Efficient</span
                      >
                    </div>
                  </div>
                  <div class='feature-box-overlay bg-base-color'></div>
                </div>
              </div>
              <!-- end features box item -->
            </div>
          </div>
        </div>
        <div
          class='text-center col-lg-5 offset-lg-1 text-lg-start'
          data-anime='{ "el": "childs", "translateX": [50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 100, "easing": "easeOutQuad" }'
        >
          <h2 class='alt-font fw-600 text-dark-gray ls-minus-2px'>
            Why choose our company services?
          </h2>
          <p class='mx-auto w-90 xs-w-100 mx-lg-0'>
            Our consultancy service is founded on the principle of partnership, where we view the
            client-consultant relationship as a collaborative journey towards achieving
            sustainability goals
          </p>
          <a
            href='/contact'
            class='btn btn-large btn-dark-gray btn-box-shadow mt-10px btn-round-edge'
            >Get started now!</a
          >
        </div>
      </div>
    </div>
  </section>
  <!-- end section -->
</BaseLayout>
