---
interface Props {
  title?: string;
  descriptions?: string[];
  items: { name: string; position: string; content: string }[];
}

const { title = 'Povedali o nás', descriptions, items } = Astro.props;
---

<div class='row justify-content-md-center py-3 py-md-5 py-xl-8'>
  <div class='col-lg-6'>
    <h2>{title}</h2>
    {descriptions && descriptions.map((text) => <p class='lead' set:html={text} />)}

    <p class='lead'></p>
  </div>
  <div class='col-lg-6 d-flex flex-column gap-4'>
    {
      items.map((item) => (
        <div class='card rounded-0 p-2 bg-light border-0'>
          <div class='card-body'>
            <h5 class='card-title'>{item.name}</h5>
            <h6 class='card-subtitle mb-2'>{item.position}</h6>
            <hr />
            <p class='card-text lead' set:html={item.content} />
          </div>
        </div>
      ))
    }
  </div>
</div>
