---
import { Image } from 'astro:assets'
import { getCollection, render } from 'astro:content'
import ProjectBasicInfo from '../../components/ProjectBasicInfo.astro'
import BaseLayout from '../../layouts/BaseLayout.astro'

export async function getStaticPaths() {
  const posts = await getCollection('projects')
  return posts.map((project) => {
    const { id } = project

    return {
      params: { id },
      props: { project }
    }
  })
}

const { Content } = await render(Astro.props.project)
const {
  title,
  certificate,
  location_city,
  location_country,
  category,
  client,
  image_cover,
  image_1,
  image_2
} = Astro.props.project.data
---

<BaseLayout>
  <div class='row justify-content-md-between'>
    <h1 class='text-primary'>{title}</h1>

    <div class='col-md-5 d-flex flex-column'>
      <ProjectBasicInfo
        items={[`${certificate}`, `${location_city} - ${location_country}`, `${client}`]}
      />
      <Content />
    </div>
    <div class='col-md-6'>
      <!-- <Image
        src={image_cover ? image_cover : 'https://placehold.co/400x400'}
        alt={'Image'}
        width={1200}
        height={1200}
        class='img-fluid flex-grow-1 object-fit-cover w-100'
        format='webp'
        sizes='(max-width: 768px) 100vw, 50vw'
      /> -->
      <Image
        src={image_cover}
        alt={`Cover photo for project ${title}`}
        layout='responsive'
        width={1200}
        height={1200}
        class='img-fluid flex-grow-1 object-fit-cover w-100 pb-3 pb-md-5'
        format='webp'
      />
      <!-- <p class='text-primary fst-italic'>{certificate}</p> -->
      {
        image_1 && (
          <Image
            src={image_1}
            alt={`Photo of project ${title}`}
            layout='responsive'
            width={1200}
            height={1200}
            class='img-fluid flex-grow-1 object-fit-cover w-100 pb-3 pb-md-5'
            format='webp'
          />
        )
      }
      {
        image_2 && (
          <Image
            src={image_2}
            alt={`Photo of project ${title}`}
            layout='responsive'
            width={1200}
            height={1200}
            class='img-fluid flex-grow-1 object-fit-cover w-100 pb-3 pb-md-5'
            format='webp'
          />
        )
      }
    </div>
  </div>
</BaseLayout>
